<main class="w-full max-w-md mx-auto p-6">
  <div class="mt-7 bg-white border border-gray-200 rounded-xl shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <div class="p-4 sm:p-7">
      <div class="text-center">
        <h1 class="block text-2xl font-bold text-gray-800 dark:text-white">Sign up</h1>
      </div>

      <div class="mt-5">
        <%= render "partials/googlebutton" %>

        <div class="py-3 flex items-center text-xs text-gray-400 uppercase before:flex-[1_1_0%] before:border-t before:border-gray-200 before:me-6 after:flex-[1_1_0%] after:border-t after:border-gray-200 after:ms-6 dark:text-gray-500 dark:before:border-gray-600 dark:after:border-gray-600">Or</div>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <%= render "partials/formfield", field_name: :email, f: f %>
        <%= render "partials/formfield", field_name: :username, f: f %>
        <%= render "partials/formfield", field_name: :password, f: f %>
        <%= render "partials/formfield", field_name: :password_confirmation, f: f %>

        <%= render "partials/submitbutton", text: "Sign up", f: f %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
