<!DOCTYPE html>
<html>
  <head>
    <title>MoneyForward Library</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta><%= csrf_meta_tags %></meta>
    <meta><%= csp_meta_tag %></meta>
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <%= render "partials/notice" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
